USE [master]
GO
/****** Object:  Database [Coursco]    Script Date: 09/09/2022 09:56:09 PM ******/
CREATE DATABASE [Coursco]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'myShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\myShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'myShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\myShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Coursco].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Coursco]
GO
/****** Object:  Table [dbo].[CRM]    Script Date: 09/09/2022 09:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM](
	[code] [int] NOT NULL,
	[name] [varchar](50) NULL,
	[price] [decimal](18, 0) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
 CONSTRAINT [PK_CRM_1] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CRM] ([code], [name], [price], [start_date], [end_date]) VALUES (2, N'ahmed', CAST(10001 AS Decimal(18, 0)), CAST(N'2022-06-15' AS Date), CAST(N'2022-11-24' AS Date))
INSERT [dbo].[CRM] ([code], [name], [price], [start_date], [end_date]) VALUES (3, N'aly', CAST(560 AS Decimal(18, 0)), CAST(N'2022-09-06' AS Date), CAST(N'2022-09-23' AS Date))
INSERT [dbo].[CRM] ([code], [name], [price], [start_date], [end_date]) VALUES (55, N'ramy', CAST(501 AS Decimal(18, 0)), CAST(N'2022-09-13' AS Date), CAST(N'2022-09-30' AS Date))
GO
USE [master]
GO
